
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h1>MVC KATEGORY TABLOSU</h1>
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
        <th>GÜNCELLE</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim açıklaması</td>
        <td>True</td>
        <td><button class="btn btn-warning">GÜNCELLE</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>SPOR</td>
        <td>Spor açıklaması</td>
        <td>True</td>
        <td><button class="btn btn-warning">GÜNCELLE</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kültür</td>
        <td>Kültür açıklaması</td>
        <td>True</td>
        <td><button class="btn btn-warning">GÜNCELLE</button></td>
    </tr>

</table>
<button class="btn btn-info">KATEGORİ EKLE</button>
<button class="btn btn-primary">KATEGORİ DÜZENLE</button>
<button class="btn btn-danger">KATEGORİ AÇIKLAMASI</button>